## Helper functions

In [ ]:
# read in binding site file ( file that is produced by TarPmiR )
# returns pandas DataFrame
def parse_tarp_bs(file):
	if (open(file).readline()[0:5] != 'miRNA'):
		append_header(file)
	binding_sites = pd.read_csv(file, delimiter='	')
	# 1 column binding_sites to 2 new columns bs_start, bs_end
	new = binding_sites['binding_site'].str.split(',', 1, expand=True)
	binding_sites['bs_start'] = new[0].astype(int)
	binding_sites['bs_end'] = new[1].astype(int)
	binding_sites.drop(columns =["binding_site"], inplace = True) 
	return binding_sites

## Prepare TarPmiR bindingsites

In [2]:
import pandas as pd
from pathlib import Path
path = Path('/nfs/home/users/l.hackl/alt-splicing-mirna-reg/data')
tcga_path = Path(path/'KICH')
path_tarp = Path(path/'../data')
path_input = Path(path/'../data/all_cdna_subsets')

In [3]:
#read in TarPmiR bindingsites
for file in 
bs = parse_tarp_bs(path/'tarp-bs'/'input_miRNA.fasta_cdna6247.fasta.bp')

for i in range(1,10):
    pd.read_parquet(path/'chrom'/('bs_chrom_pos'+str(i)+'.parquet'))

#read in Ensembl transcript info

SyntaxError: invalid syntax (<ipython-input-3-d36c913b3a6e>, line 2)

### Translate binding site positions from transcript to chromosome and add exon ID

In [ ]:
#combine_seperate_files(path) #(DONT USE, ONLY FOR CASE STEP 1 CALLED WITH SUBSET)

In [8]:
#a = pd.read_parquet(path/'bs_all_chrom_pre.parquet')
a[983499268:983499269]

,miRNA,mRNA,chrom_bs_start,chrom_bs_end,exon_id,binding_probability,energy,seed,accessibility,AU_content,...,PyloP_Flanking,m/e,number_of_pairings,binding_region_length,longest_consecutive_pairings,position_of_longest_consecutive_pairings,pairings_in_3prime_end,difference_of_pairings_between_seed_and_3prime_end,bs_start,bs_end
83499268,hsa-miR-12129,ENST00000511501,151454776.0,151454797.0,ENSE00001403367,0.538462,-15.7,1.0,0.000394,0.618,...,0.0,-9.061245,16.0,21.0,8.0,13.0,5.0,3.0,190.0,211.0

### merge to add chromosome and strand to binding sites using transcript ID

In [4]:
#DELETE CAUSE DONE?
#bs chrom pos fix 1000 rows instead of 2000
#append columns
import gc
for i in range(9,10): #2,9
    bs = 0
    bs = pd.read_parquet(path/('bs_chrom_pos'+str(i)+'.parquet'))
    bs1 = bs[0:100000000][['chrom_bs_start','chrom_bs_end','exon_id']]
    bs2 = bs[100000000:200000000].drop(['chrom_bs_start','chrom_bs_end','exon_id'],axis=1)
    bs1.reset_index(drop=True, inplace=True)
    bs2.reset_index(drop=True, inplace=True)
    bs1 = pd.concat([bs1,bs2], axis=1)
    bs1.to_parquet(path/'chrom'/('bs_chrom_pos'+str(i)+'.parquet'))
    gc.collect()

In [5]:
chrom1

,miRNA,mRNA,chrom_bs_start,chrom_bs_end,exon_id
0,hsa-let-7a-5p,ENST00000476331,12736769.0,12736808.0,ENSE00003612422
1,hsa-let-7a-2-3p,ENST00000476331,12738143.0,12738161.0,ENSE00003547358
2,hsa-let-7a-2-3p,ENST00000476331,12735555.0,12735600.0,ENSE00003550464
3,hsa-let-7b-5p,ENST00000476331,12734647.0,12734671.0,ENSE00003465197
4,hsa-let-7b-5p,ENST00000476331,12736786.0,12736808.0,ENSE00003612422
...,...,...,...,...,...
83499264,hsa-miR-12122,ENST00000511501,151409354.0,151409414.0,ENSE00002039741
83499265,hsa-miR-12125,ENST00000511501,151409432.0,151409448.0,ENSE00002039741
83499266,hsa-miR-12126,ENST00000511501,151409369.0,151409379.0,ENSE00002039741
83499267,hsa-miR-12127,ENST00000511501,151409393.0,151409417.0,ENSE00002039741
83499268,hsa-miR-12129,ENST00000511501,151454776.0,151454797.0,ENSE00001403367

In [2]:
#DONE put seperate bindingsite files back together
all_chrom = []
for i in range(1,11):
    all_chrom.append(pd.read_parquet(path/'chrom'/('bs_chrom_pos'+str(i)+'.parquet')))
chrom = pd.concat(all_chrom, ignore_index=True)
chrom['miRNA'] = pd.Categorical(chrom.miRNA)
chrom['mRNA'] = pd.Categorical(chrom.mRNA)
chrom.to_parquet(path/'chrom'/'bs_all_chrom_pre.parquet')
chrom = chrom[['miRNA','mRNA','chrom_bs_start','chrom_bs_end','exon_id']]
chrom.to_parquet(path/'chrom'/'bs_subset_chrom_pre.parquet')

In [7]:
a.head()

,miRNA,mRNA,binding_probability,energy,seed,accessibility,AU_content,PhyloP_Stem,PyloP_Flanking,m/e,...,binding_region_length,longest_consecutive_pairings,position_of_longest_consecutive_pairings,pairings_in_3prime_end,difference_of_pairings_between_seed_and_3prime_end,bs_start,bs_end,chrom_bs_start,chrom_bs_end,exon_id
0,hsa-let-7a-5p,ENST00000476331,1.000000,-18.4,1.0,1.777982e-03,0.426,1.394372,1.710881,-4.026374,...,17.0,9.0,7.0,1.0,6.0,301.0,340.0,12736769.0,12736808.0,ENSE00003612422
1,hsa-let-7a-2-3p,ENST00000476331,0.692308,-18.5,0.0,2.694336e-04,0.456,0.275755,1.061554,-13.549385,...,18.0,10.0,1.0,6.0,1.0,423.0,441.0,12738143.0,12738161.0,ENSE00003547358
2,hsa-let-7a-2-3p,ENST00000476331,0.769231,-18.6,0.0,6.177285e-05,0.559,0.251558,0.853162,-16.125569,...,23.0,8.0,8.0,7.0,3.0,158.0,203.0,12735555.0,12735600.0,ENSE00003550464
3,hsa-let-7b-5p,ENST00000476331,0.615385,-21.7,0.0,5.099209e-09,0.500,0.233710,-0.052141,-6.514540,...,24.0,9.0,15.0,8.0,3.0,11.0,35.0,12734647.0,12734671.0,ENSE00003465197
4,hsa-let-7b-5p,ENST00000476331,1.000000,-18.4,1.0,1.777982e-03,0.426,1.018645,1.724342,-4.026374,...,17.0,9.0,7.0,1.0,6.0,318.0,340.0,12736786.0,12736808.0,ENSE00003612422

In [8]:
#Done, DELETE
# look into missing exons    
print('start')
#chrom = pd.read_parquet(path/'chrom'/'bs_all_chrom_pre.parquet')
chrom1 = chrom[['mRNA','chrom_bs_start','chrom_bs_end','exon_id']][~ chrom.chrom_bs_start.isna()]
chrom1['nr_exons'] = 1
print('save parquet now...')
chrom1.to_parquet(path/'chrom'/'bs_notna_chrom.parquet')
chrom1=0
chrom = chrom[['mRNA','bs_start','bs_end','chrom_bs_start']][chrom.chrom_bs_start.isna()][['mRNA','bs_start','bs_end']]
chrom.to_parquet(path/'chrom'/'bs_na_chrom.parquet')

start
save parquet now...

In [26]:
#chrom1 = pd.read_parquet(path/'chrom'/'bs_notna_chrom.parquet')
chrom1 #883785177 1 exon

,mRNA,chrom_bs_start,chrom_bs_end,exon_id,nr_exons
0,ENST00000476331,12736769.0,12736808.0,ENSE00003612422,1
1,ENST00000476331,12738143.0,12738161.0,ENSE00003547358,1
2,ENST00000476331,12735555.0,12735600.0,ENSE00003550464,1
3,ENST00000476331,12734647.0,12734671.0,ENSE00003465197,1
4,ENST00000476331,12736786.0,12736808.0,ENSE00003612422,1
...,...,...,...,...,...
983499264,ENST00000511501,151409354.0,151409414.0,ENSE00002039741,1
983499265,ENST00000511501,151409432.0,151409448.0,ENSE00002039741,1
983499266,ENST00000511501,151409369.0,151409379.0,ENSE00002039741,1
983499267,ENST00000511501,151409393.0,151409417.0,ENSE00002039741,1
983499268,ENST00000511501,151454776.0,151454797.0,ENSE00001403367,1

In [3]:
#TODO instead if doing dumb shit -> make efficient & run everything again
#TODO test on 1/100 to see how long: if 1/10 840min 1/100 <84min :) using apply faster but feasibel?
chrom = pd.read_parquet(path/'bs_all.parquet') 
chrom = chrom[['mRNA','bs_start','bs_end']]
chrom['mRNA'] = pd.Categorical(chrom.mRNA)
chrom.to_parquet(path/'bs_tarp_subset0.parquet') #19 GB
chrom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983499270 entries, 0 to 983499269
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   mRNA      category
 1   bs_start  int64
 2   bs_end    int64
dtypes: category(1), int64(2)
memory usage: 18.3 GB

In [ ]:
#DONE
chrom = pd.read_parquet(path/'bs_all.parquet')
chrom = chrom[['mRNA','bs_start','bs_end']]
chrom['mRNA'] = pd.Categorical(chrom.mRNA)
chrom.to_parquet(path/'bs_tarp_subset0.parquet') #19 GB
chrom.info()
#dropping ids not good id-> get bs

In [4]:
import csv
import gc
# read exon position dictionary from file
# returns format {transcript_id : {exon_id : (exon_start, exon_end, chromosome_exon_start)}}
def read_in_exon_pos(file):
    exon_positions = {}
    with open(file,'r') as data: 
        for line in csv.reader(data): 
            tid, eid, exon_start, exon_end, chrom_exon_start = line
            exon_positions[tid] = exon_positions.get(tid,{})
            exon_positions[tid][eid] = (int(exon_start),int(exon_end),int(chrom_exon_start))
    sorted_dict1 = {}
    for t in exon_positions:
        dict1 = exon_positions[t]
        sorted_values = sorted(dict1.values()) # Sort the values
        sorted_dict = {}
        for i in sorted_values:
            for k in dict1.keys():
                if dict1[k] == i:
                    sorted_dict[k] = dict1[k]
                    break
        sorted_dict1[t] = sorted_dict1.get(t,{})
        sorted_dict1[t].update(sorted_dict)
    return sorted_dict1

def calc_chrom_pos(start, end, exon_pos):
    start_chrom_pos = False
    eids = []
    for eid, data in exon_pos.items():
        exon_start = data[0]
        exon_end = data[1]
        chrom_exon_start = data[2]
        if (start >= exon_start) and (start <= exon_end):
            start_chrom_pos = chrom_exon_start + (start - exon_start)
            if (end >= exon_start) and (end <= exon_end):
                end_chrom_pos = chrom_exon_start + (end - exon_start)
                return start_chrom_pos, end_chrom_pos, eid, 1
            else: eids.append(eid)   
        elif (end >= exon_start) and (end <= exon_end):
            end_chrom_pos = chrom_exon_start + (end - exon_start)
            eids.append(eid)
            return start_chrom_pos, end_chrom_pos, ','.join(eids), len(eids)
        elif start_chrom_pos: #in case of bindingsites spanning > 2 exons
            eids.append(eid)
    return None, None, None, None

def chrom_pos(df, file, exon_positions):
    v1s, v2s, v3s, v4s = [], [], [], []
    i = 0
    for _, row in df.iterrows():
        v1, v2, v3, v4 = calc_chrom_pos(row.bs_start, row.bs_end, exon_positions[row.mRNA])
        if i % 5000 == 0:
            gc.collect()
        v1s.append(v1)
        v2s.append(v2)
        v3s.append(v3)
        v4s.append(v4)
        i += 1
    print('Done computation')
    df_result = pd.DataFrame({'chrom_bs_start': v1s,
                            'chrom_bs_end': v2s,
                            'exon_id': v3s,
                            'nr_exons': v4s})
    df_result = df_result.set_index(df.index)
    df = pd.concat([df,df_result], axis=1)
    #df[['mRNA','chrom_bs_start','chrom_bs_end','exon_id','nr_exons']].to_parquet(file)
    gc.collect()
    return df

In [7]:
exon_positions = read_in_exon_pos(path/'exon_positions.csv') # mapping of transcript ids to exon ids, chrom_exon_starts, exon_starts, exon_ends
b = chrom_pos(a[983499269:983499270], path/'chrom'/'bs_tarp_multi.parquet', exon_positions)
b

Done computation

,miRNA,mRNA,binding_probability,energy,seed,accessibility,AU_content,PhyloP_Stem,PyloP_Flanking,m/e,...,longest_consecutive_pairings,position_of_longest_consecutive_pairings,pairings_in_3prime_end,difference_of_pairings_between_seed_and_3prime_end,bs_start,bs_end,chrom_bs_start,chrom_bs_end,exon_id,nr_exons
983499269,hsa-miR-12131,ENST00000511501,0.769231,-18.5,0,0.00001,0.412,0.0,0.0,-6.193851,...,6.0,7.0,4.0,2.0,24,72,151409375,151409423,ENSE00002039741,1

In [6]:
chrom = pd.read_parquet(path/'chrom'/'bs_tarp_chrom.parquet')
chrom

,mRNA,chrom_bs_start,chrom_bs_end,exon_id,nr_exons
0,ENST00000476331,12736769.0,12736808.0,ENSE00003612422,1
1,ENST00000476331,12738143.0,12738161.0,ENSE00003547358,1
2,ENST00000476331,12735555.0,12735600.0,ENSE00003550464,1
3,ENST00000476331,12734647.0,12734671.0,ENSE00003465197,1
4,ENST00000476331,12736786.0,12736808.0,ENSE00003612422,1
...,...,...,...,...,...
983499264,ENST00000511501,151409354.0,151409414.0,ENSE00002039741,1
983499265,ENST00000511501,151409432.0,151409448.0,ENSE00002039741,1
983499266,ENST00000511501,151409369.0,151409379.0,ENSE00002039741,1
983499267,ENST00000511501,151409393.0,151409417.0,ENSE00002039741,1
983499268,ENST00000511501,151454776.0,151454797.0,ENSE00001403367,1

In [ ]:
chrom = pd.read_parquet(path/'chrom'/'bs_na_chrom.parquet') #19 GB
exon_positions = read_in_exon_pos(path/'exon_positions.csv') # mapping of transcript ids to exon ids, chrom_exon_starts, exon_starts, exon_ends
a = chrom_pos(chrom, path/'chrom'/'bs_tarp_multi.parquet', exon_positions) #look at mem usage 
a #i executed THIIIIIIIIIIIIIIS

In [8]:
a = b[['mRNA','chrom_bs_start','chrom_bs_end','exon_id','nr_exons']]
a

,mRNA,chrom_bs_start,chrom_bs_end,exon_id,nr_exons
983499269,ENST00000511501,151409375,151409423,ENSE00002039741,1

In [82]:
#TODO next a #pd.read_parquet(chrom, path/'chrom'/'bs_tarp_multi.parquet')
b = pd.read_parquet(path/'chrom'/'bs_notna_chrom.parquet')
b

,mRNA,chrom_bs_start,chrom_bs_end,exon_id,nr_exons
0,ENST00000476331,12736769.0,12736808.0,ENSE00003612422,1
1,ENST00000476331,12738143.0,12738161.0,ENSE00003547358,1
2,ENST00000476331,12735555.0,12735600.0,ENSE00003550464,1
3,ENST00000476331,12734647.0,12734671.0,ENSE00003465197,1
4,ENST00000476331,12736786.0,12736808.0,ENSE00003612422,1
...,...,...,...,...,...
983499264,ENST00000511501,151409354.0,151409414.0,ENSE00002039741,1
983499265,ENST00000511501,151409432.0,151409448.0,ENSE00002039741,1
983499266,ENST00000511501,151409369.0,151409379.0,ENSE00002039741,1
983499267,ENST00000511501,151409393.0,151409417.0,ENSE00002039741,1
983499268,ENST00000511501,151454776.0,151454797.0,ENSE00001403367,1

In [9]:
#next 
chrom = pd.concat([chrom,a])
chrom

,mRNA,chrom_bs_start,chrom_bs_end,exon_id,nr_exons
0,ENST00000476331,12736769.0,12736808.0,ENSE00003612422,1
1,ENST00000476331,12738143.0,12738161.0,ENSE00003547358,1
2,ENST00000476331,12735555.0,12735600.0,ENSE00003550464,1
3,ENST00000476331,12734647.0,12734671.0,ENSE00003465197,1
4,ENST00000476331,12736786.0,12736808.0,ENSE00003612422,1
...,...,...,...,...,...
983499265,ENST00000511501,151409432.0,151409448.0,ENSE00002039741,1
983499266,ENST00000511501,151409369.0,151409379.0,ENSE00002039741,1
983499267,ENST00000511501,151409393.0,151409417.0,ENSE00002039741,1
983499268,ENST00000511501,151454776.0,151454797.0,ENSE00001403367,1
983499269,ENST00000511501,151409375.0,151409423.0,ENSE00002039741,1

In [87]:
c1 = c.sort_index()

In [10]:
chrom.chrom_bs_start = pd.to_numeric(chrom.chrom_bs_start, downcast='integer')
chrom.chrom_bs_end = pd.to_numeric(chrom.chrom_bs_end, downcast='integer')
chrom.dtypes

mRNA              object
chrom_bs_start     int32
chrom_bs_end       int32
exon_id           object
nr_exons           int64
dtype: object

In [12]:
#next
#DONE bs_tarp_chrom, bs_tarp_chrom_strand
chrom.to_parquet(path/'chrom'/'bs_tarp_chrom.parquet')

In [16]:
df = pd.read_parquet(path/'chrom'/'bs_tarp_chrom_strand.parquet')
df

,chrom_bs_start,chrom_bs_end,exon_id,nr_exons,ensembl_transcript_id,chromosome_name,strand
0,12736769,12736808,ENSE00003612422,1,ENST00000476331,3,-1
1,12738143,12738161,ENSE00003547358,1,ENST00000476331,3,-1
2,12735555,12735600,ENSE00003550464,1,ENST00000476331,3,-1
3,12734647,12734671,ENSE00003465197,1,ENST00000476331,3,-1
4,12736786,12736808,ENSE00003612422,1,ENST00000476331,3,-1
...,...,...,...,...,...,...,...
983499264,151409354,151409414,ENSE00002039741,1,ENST00000511501,4,1
983499265,151409432,151409448,ENSE00002039741,1,ENST00000511501,4,1
983499266,151409369,151409379,ENSE00002039741,1,ENST00000511501,4,1
983499267,151409393,151409417,ENSE00002039741,1,ENST00000511501,4,1
983499268,151454776,151454797,ENSE00001403367,1,ENST00000511501,4,1

In [21]:
c1 = a.merge(df_tran, left_on='mRNA', right_on='ensembl_transcript_id', how='left')
c1

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [27]:
j.to_parquet(path/'chrom'/'bs_tarp_chrom_strand.parquet')

In [ ]:
#c1.chrom_bs_start = pd.to_numeric(c1.chrom_bs_start, downcast='integer')
#c1.chrom_bs_end = pd.to_numeric(c1.chrom_bs_end, downcast='integer')
c1.nr_exons = pd.to_numeric(c1.nr_exons, downcast='integer')
c1.dtypes

In [17]:
c1.drop(['mRNA'], axis=1, inplace=True)

In [100]:
c1.to_parquet(path/'chrom'/'bs_tarp_chrom_strand.parquet')