# Assemble the final Dataframe from tarpmir bindingsites

## Read in bindingsite & Ensembl data

In [194]:
%load_ext autoreload
%autoreload 2
from helper_fcts import *
import sqlite3
import os
import pandas as pd
from pathlib import Path

path = Path('C:/Users/Lena/Documents/auf mega gesyncte Dokumente/Uni/Master/Semester 5/Masterarbeit/alt-splicing-mirna-reg')
tcga_path = Path('C:/Users/Lena/Documents/Master big files/UCSC_Xena_download/PANCAN')
ann_path = Path('C:/Users/Lena/Documents/Master big files/manual_GDC_download')
path_tarp = Path(path/'tarp-bs')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [101]:
#read in df_gene: gene_id, g_id_v, transcript_id, t_id_v, chromosome, strand, start, end (1-N)
df_gene = pd.read_csv(path/'gene_infos.csv', dtype={'ensembl_gene_id':str,'ensembl_gene_id_version':str,'ensembl_transcript_id':str, 'ensembl_transcript_id_version':str, 'chromosome_name':'category', 'strand':'int8', 'start_position':int, 'end_position':int})
del df_gene['Unnamed: 0']
df_gene[['strand']] = df_gene[['strand']].astype('int').astype('Int64')

#executed once, read in from pickled files
ids = read_in_ids(path/'all_mapping_ids.fasta') # mapping of transcript ids to exon ids
chrom_exon_starts, exon_starts, exon_ends, df_exon = calc_exon_data(path) # exon starts and ends per transcript + exon id

df_exon = df_exon.merge(df_gene, left_on = 'transcript_id', right_on = 'ensembl_transcript_id', how='left')
df_exon[['chrom_exon_start','chrom_exon_end','start_position','end_position']] = df_exon[['chrom_exon_start','chrom_exon_end','start_position','end_position']].astype('Int64')
df_exon[['strand']] = df_exon[['strand']].astype('str').astype('category')

#len(df_exon[df_exon.ensembl_transcript_id.isna()].transcript_id.unique())
#371 transcripts are not in df_gene, TODO, why? which transcripts are in tarpmir predictions
#TODO instead of joining df_gene, exon_info -> directly read in from R feather file & also use that for calculating chrom pos

In [3]:
#set bs from feather
bs = pd.read_feather(path/'read_in_bs.feather')

In [9]:
#read in bs
seperate_bs = []
for filename in os.listdir(path_tarp):
    binding_sites = parse_tarp_bs(path_tarp/filename)
    seperate_bs.append(binding_sites)
bs = pd.concat(seperate_bs, axis=0, ignore_index=True) #14 388 + 10 326 = 24 714 rows
bs.to_feather(path/'read_in_bs.feather')
print('All predicted bindingsites were read into pandas.')

All predicted bindingsites were read into pandas.

In [5]:
#parse miRNA and mRNA seed from sequence
miRNA_sequences = parse_seq(path/'input_miRNA.fasta')#2661 miRNAs 
bs['miRNA_seed'] = bs.apply(lambda row: miRNA_sequences[row['miRNA']], axis=1)
mRNA_sequences = parse_seq(path/'cdna6247.fasta') #TODO change to bigger file with all mRNAs or iterate over all files
bs['mRNA_bs_seq'] = bs.apply(lambda row: mRNA_sequences[row['mRNA']][row['bs_start']:row['bs_end']], axis=1)

In [4]:
%load_ext Cython

In [5]:
%%cython
def pos_to_chrom(pos, tid, ids, exon_starts, exon_ends, chrom_exon_starts):
    for j, eid in enumerate(ids[tid]):
        if tid in exon_starts and eid in exon_starts[tid] and tid in exon_ends and eid in exon_ends[tid]:
            if pos >= exon_starts[tid][eid] and pos <= exon_ends[tid][eid]:
                diff = pos - exon_starts[tid][eid]
                chrom_pos = chrom_exon_starts[tid][eid] + diff
                return chrom_pos
        else: print('Error: Either',tid,'or',eid,'not in exon_starts or exon_ends')
    return None

In [6]:
%%cython
def get_eid(start, end, tid, ids, exon_starts, exon_ends, chrom_exon_starts):
    for j, eid in enumerate(ids[tid]):
        if tid in exon_starts and eid in exon_starts[tid] and tid in exon_ends and eid in exon_ends[tid]:
            if (start >= exon_starts[tid][eid]) and (start <= exon_ends[tid][eid]) and (end >= exon_starts[tid][eid]) and (end <= exon_ends[tid][eid]):
                return eid
        else: print('Error: Either',tid,'or',eid,'not in exon_starts or exon_ends')
    return None

In [7]:
#translate genome position relative to transcript to chromosome
#fastest, always puts bs start and end even if bs spans several exons, but only puts exonid if only 1 exon
bs['chrom_bs_start'] = bs.apply(lambda row: pos_to_chrom(row.bs_start, row.mRNA, ids, exon_starts, exon_ends, chrom_exon_starts), axis=1)
bs['chrom_bs_end'] = bs.apply(lambda row: pos_to_chrom(row.bs_end, row.mRNA, ids, exon_starts, exon_ends, chrom_exon_starts), axis=1)
bs['exon_id'] = bs.apply(lambda row: get_eid(row.bs_start, row.bs_end, row.mRNA, ids, exon_starts, exon_ends, chrom_exon_starts), axis=1)
bs['bs_id'] = bs.index
bs.head()

,miRNA,mRNA,binding_probability,energy,seed,accessibility,AU_content,PhyloP_Stem,PyloP_Flanking,m/e,...,longest_consecutive_pairings,position_of_longest_consecutive_pairings,pairings_in_3prime_end,difference_of_pairings_between_seed_and_3prime_end,bs_start,bs_end,chrom_bs_start,chrom_bs_end,exon_id,bs_id
0,hsa-let-7a-2-3p,ENST00000576537,1.000000,-25.9,0,0.000156,0.338,0.005183,-0.035634,-11.206441,...,16,4,7,1,309,335,1578440,1578466,ENSE00002650258,0
1,hsa-let-7a-2-3p,ENST00000576537,0.743590,-21.6,1,0.000002,0.338,-0.161796,0.055277,-3.793325,...,6,8,3,4,430,450,1578561,1578581,ENSE00002650258,1
2,hsa-let-7b-5p,ENST00000576537,0.846154,-18.4,1,0.000026,0.441,3.547385,2.945605,-6.324962,...,11,5,8,1,105,130,1576707,1578261,None,2
3,hsa-let-7b-3p,ENST00000576537,0.615385,-20.6,0,0.000143,0.338,-0.021616,-0.047693,-18.306612,...,12,9,7,3,315,336,1578446,1578467,ENSE00002650258,3
4,hsa-let-7b-3p,ENST00000576537,0.538462,-15.3,0,0.000020,0.456,3.773200,3.161275,-9.685015,...,8,7,5,1,23,41,1576625,1576643,ENSE00002671000,4

## Read in TCGA data (processed by Xena) from file

In [187]:
#TODO option 1: read in exon_id annotation file (compare)
import gffutils
#fn = gffutils.example_filename(ann_path/"gencode.v22.annotation.gtf")
#exon_db = gffutils.create_db(fn, dbfn='exon.db', disable_infer_genes=True, disable_infer_transcripts=True, force=True)
gene = 'ENSG00000174231.15' #todo version wichtig!
for i in exon_db.children(gene, featuretype='exon'):#, order_by='start'):
    print(i)
#for exon in exon_db.region("chr17:1578446-1578633", strand="-", featuretype='exon'):#, completely_within=True):
    #print(exon)

chr17	HAVANA	gene	1650629	1684882	.	-	.	gene_id "ENSG00000174231.15"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "PRPF8"; level "1"; havana_gene "OTTHUMG00000090553.5";

In [200]:
mirna_counts = pd.read_csv(tcga_path/'miRNA_HiSeq_gene', delimiter='	')
mirna_counts2 = pd.read_csv(tcga_path/'miRNA_GA_gene', delimiter='	')
mirna_counts3 = pd.read_csv(tcga_path/'pancanMiRs_EBadjOnProtocolPlatformWithoutRepsWithUnCorrectMiRs_08_04_16.xena', delimiter='	')

exon_counts = pd.read_csv(tcga_path/'HiSeqV2_exon', delimiter='	')
tran_exon = pd.read_csv(tcga_path/'unc_v2_exon_hg19_probe_TCGA', delimiter='	')
exon_counts = exon_counts.merge(tran_exon, left_on='sample', right_on='id')
exon_counts.drop(['sample', 'id'], axis=1, inplace=True)
#transform strand {-,+} to {-1,+1} 
exon_counts['strand'] = exon_counts.apply(lambda row: -1 if row.strand == '-' else 1, axis=1)
exon_counts['chrom'] = exon_counts['chrom'].str[3:]
exon_counts[['chrom','strand']] = exon_counts[['chrom','strand']].astype('str').astype('category')
exon_counts[['chromStart','chromEnd']] = exon_counts[['chromStart','chromEnd']].astype('Int64')
#TODO option 2: get exonid per exon count from Ensembl (compare)
exon_counts2 = exon_counts.merge(df_exon[['exon_id','chromosome_name','strand','chrom_exon_start','chrom_exon_end']], left_on = ['chrom','strand','chromStart','chromEnd'], right_on = ['chromosome_name','strand','chrom_exon_start','chrom_exon_end'], how='left')

caseids = list(set(mirna_counts.columns).intersection(list(exon_counts.columns)))
#TODO to feather & read in 
#exon_counts2.to_feather(path/'exon_counts_kidney.feather')
#exon_counts2 = pd.read_feather(path/'exon_counts_kidney.feather')

MemoryError: Unable to allocate 512 bytes for an array with shape (64,) and data type int64

In [ ]:
exon_counts

In [197]:
mirna_counts

,Sample,TCGA-S9-A7J2-01,TCGA-G3-A3CH-11,TCGA-B2-5641-11,TCGA-EK-A2RE-01,TCGA-44-6778-01,TCGA-VM-A8C8-01,TCGA-AX-A2H7-01,TCGA-C8-A1HL-01,TCGA-EE-A17X-06,...,TCGA-13-1481-01,TCGA-DD-A4NR-01,TCGA-DJ-A2QC-01,TCGA-61-1907-01,TCGA-IB-7885-01,TCGA-95-7947-01,TCGA-VQ-AA6F-01,TCGA-BR-8588-01,TCGA-DD-A115-01,TCGA-FV-A3I0-11
0,MIMAT0019868,NaN,0.659243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.691031,1.983035,0.1718,1.952727,0.261,0.331,NaN,NaN,0.484511,NaN
1,MIMAT0019869,NaN,0.659243,NaN,NaN,NaN,0.1401,NaN,NaN,0.617767,...,NaN,NaN,0.3252,NaN,NaN,NaN,NaN,NaN,NaN,0.395393
2,MIMAT0019860,NaN,0.659251,NaN,NaN,0.3516,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.331,NaN,NaN,NaN,0.838638
3,MIMAT0019861,NaN,0.254700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MIMAT0019862,NaN,NaN,NaN,NaN,0.3516,NaN,NaN,NaN,0.341700,...,NaN,NaN,NaN,0.442415,NaN,NaN,0.2736,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,MIMAT0016849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2450,MIMAT0016852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2451,MIMAT0005952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2452,MIMAT0015057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2453,MIMAT0005871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
mirna_counts2

,Sample,TCGA-A5-A0GI-01,TCGA-BP-4165-01,TCGA-E2-A10B-01,TCGA-AB-2863-03,TCGA-A8-A0A6-01,TCGA-05-4420-01,TCGA-AB-2844-03,TCGA-B6-A0IE-01,TCGA-05-4382-01,...,TCGA-B0-4703-01,TCGA-CM-4747-01,TCGA-AX-A05U-01,TCGA-CZ-4856-01,TCGA-A1-A0SO-01,TCGA-AB-2840-03,TCGA-B6-A0IA-01,TCGA-BR-4191-01,TCGA-B5-A0JZ-01,TCGA-AB-2975-03
0,MIMAT0019868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MIMAT0019869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3763,NaN,...,NaN,NaN,NaN,NaN,NaN,2.320819,NaN,NaN,NaN,NaN
2,MIMAT0019860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3763,NaN,...,NaN,NaN,NaN,NaN,1.288279,NaN,NaN,NaN,NaN,NaN
3,MIMAT0019862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.3397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MIMAT0019864,NaN,0.3754,NaN,NaN,0.6983,0.6032,NaN,NaN,NaN,...,NaN,NaN,2.602141,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,MIMAT0031003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,MIMAT0019012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2268,MIMAT0023700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2269,MIMAT0016907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2270,MIMAT0003259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
mirna_counts3

,sample,TCGA-C4-A0F6-01,TCGA-CU-A0YO-01,TCGA-BT-A0S7-01,TCGA-CU-A0YR-01,TCGA-BL-A0C8-01,TCGA-C4-A0F0-01,TCGA-BL-A13J-01,TCGA-BT-A0YX-01,TCGA-CU-A0YN-01,...,TCGA-AG-A020-01,TCGA-AG-A01Y-01,TCGA-AG-A01W-01,TCGA-AG-3726-01,TCGA-AG-3605-01,TCGA-AG-3584-01,TCGA-AG-3599-01,TCGA-AG-3583-01,TCGA-AG-3598-01,TCGA-AG-3586-01
0,hsa-let-7a-2-3p,0.99,1.91,3.02,0.85,0.85,2.70,2.50,1.22,1.57,...,-0.91,1.18,1.29,1.02,0.16,2.09,1.59,0.74,1.56,1.35
1,hsa-let-7a-3p,5.08,5.99,6.03,4.23,5.06,5.05,5.43,4.64,5.09,...,5.91,5.75,5.40,4.45,4.61,4.54,4.91,4.38,4.75,4.73
2,hsa-let-7a-5p,14.12,14.35,15.97,14.96,15.16,15.33,14.95,14.67,14.53,...,14.47,14.83,14.70,14.39,14.73,14.50,14.13,14.04,14.50,13.98
3,hsa-let-7b-3p,2.95,3.68,5.40,3.92,4.26,4.38,4.33,3.42,4.87,...,4.52,3.24,4.08,4.73,3.58,4.43,4.89,4.55,5.42,3.96
4,hsa-let-7b-5p,12.75,12.55,15.08,12.90,12.54,14.03,13.23,12.83,12.89,...,11.67,11.78,12.56,12.09,12.38,12.22,12.47,12.89,12.58,12.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,hsa-miR-888-5p,0.00,0.00,0.36,0.00,0.00,0.00,0.00,0.25,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
739,hsa-miR-890,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
740,hsa-miR-891b,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
741,hsa-miR-892b,0.00,0.00,0.00,0.00,0.00,0.26,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
742,hsa-miR-892c-3p,0.00,0.00,0.00,0.00,0.00,0.26,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [111]:
exon_counts2.head()

,TCGA-KN-8419-01,TCGA-KL-8346-01,TCGA-KN-8422-01,TCGA-KN-8431-11,TCGA-KN-8430-11,TCGA-KM-8440-01,TCGA-KO-8414-01,TCGA-KL-8323-01,TCGA-KM-8639-01,TCGA-KO-8415-11,...,TCGA-KL-8327-01,gene,chrom,chromStart,chromEnd,strand,exon_id,chromosome_name,chrom_exon_start,chrom_exon_end
0,2.1156,1.7396,2.0641,3.1457,3.0436,2.2209,1.8213,1.9092,2.9139,3.1049,...,0.7424,"ABHD14B,RP11-155D18.14,RP11-155D18.12",3,52007981,52008646,-1,NaN,NaN,<NA>,<NA>
1,0.0000,0.0000,0.0000,0.0251,0.0233,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,USH2A,1,215901372,215901726,-1,NaN,NaN,<NA>,<NA>
2,2.5290,0.7196,1.3094,2.3074,1.6894,1.5829,1.0835,1.9041,1.2131,1.7214,...,0.0000,SLC10A7,4,147214081,147214132,-1,NaN,NaN,<NA>,<NA>
3,2.3839,3.8702,2.5373,2.3464,2.2976,3.0639,2.5666,2.7963,3.0875,2.0227,...,1.8708,TNK2,3,195599147,195599341,-1,NaN,NaN,<NA>,<NA>
4,1.9974,0.6984,0.9011,0.6827,1.2425,0.9715,1.6701,1.3011,1.3712,1.5433,...,0.0000,LRRC37B,17,30351730,30351801,1,NaN,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209584,2.4455,5.1078,2.9468,5.4212,5.1299,4.5371,3.5954,4.4245,4.4484,5.5820,...,4.1126,"ABHD14A,ACY1,ABHD14A-ACY1",3,52012275,52012390,1,NaN,NaN,<NA>,<NA>
209585,1.5701,0.5500,0.3451,2.2783,1.7366,0.6813,0.5851,1.4460,2.4188,1.8648,...,0.2725,ZNF318,6,43324864,43325503,-1,NaN,NaN,<NA>,<NA>
209586,0.4810,0.4219,0.3687,0.7313,0.7666,0.7646,2.4586,0.9557,1.1452,1.9724,...,1.9102,TBC1D3B,17,34495988,34496053,-1,NaN,NaN,<NA>,<NA>
209587,2.6944,2.2891,1.8186,4.0291,4.0015,3.7968,2.3984,2.6564,4.2824,3.6833,...,1.1468,NBPF14,1,148010884,148011056,-1,NaN,NaN,<NA>,<NA>
209588,6.8409,5.8767,6.3420,6.0730,5.8084,6.7076,5.0113,6.8595,6.8408,6.0389,...,3.4175,AFG3L2,18,12353004,12353157,-1,NaN,NaN,<NA>,<NA>

In [109]:
len(exon_counts2[exon_counts2.chromosome_name.isna()])

0

## Map miRNA to counts

In [9]:
#get subset counts of bs and merge with df_gene
counts = bs[['bs_id', 'miRNA', 'mRNA', 'chrom_bs_start', 'chrom_bs_end']].copy()
counts = counts.merge(df_gene[['ensembl_transcript_id','chromosome_name','strand']], left_on='mRNA', right_on='ensembl_transcript_id', how='left')

#mapping mature ID to miRNA family
trans = pd.read_feather(path/'mature2families.feather')
counts = counts.merge(trans, left_on='miRNA',right_on='mature_name', how='left')

#alternative 0: dont join with mirnaids
#counts.drop(['ensembl_transcript_id', 'mature_name'], axis=1, inplace=True)

#! alternative 1: for all caseids at the same time !
counts = counts.merge(mirna_counts, left_on='mature_acc', right_on='sample', how='left')
counts.drop(['ensembl_transcript_id', 'mature_name', 'sample'], axis=1, inplace=True)

# alternative 2: for 1 caseids at a time
for caseid in []:#[caseids[0]]:
    counts = counts.merge(mirna_counts[['sample',caseid]], left_on='mature_acc', right_on='sample', how='left')
    counts.drop(['ensembl_transcript_id', 'mature_name', 'sample'], axis=1, inplace=True)

#counts[['chromosome_name','strand','miRNA','mRNA']] = counts[['chromosome_name','strand','miRNA','mRNA']].astype('str')#.astype('category')
counts.head()

,bs_id,miRNA,mRNA,chrom_bs_start,chrom_bs_end,chromosome_name,strand,mature_acc,mirna_family,TCGA-KN-8426-01,...,TCGA-KO-8408-01,TCGA-KM-8438-01,TCGA-KL-8323-01,TCGA-KN-8429-11,TCGA-KO-8413-01,TCGA-KO-8411-01,TCGA-KL-8332-11,TCGA-KL-8335-01,TCGA-KL-8339-11,TCGA-KO-8415-01
0,0,hsa-let-7a-2-3p,ENST00000576537,1578440,1578466,17,-1,MIMAT0010195,let-7,2.893871,...,2.829471,2.015161,2.594806,2.644861,1.786991,1.854876,2.824365,2.395032,2.791374,2.819371
1,1,hsa-let-7a-2-3p,ENST00000576537,1578561,1578581,17,-1,MIMAT0010195,let-7,2.893871,...,2.829471,2.015161,2.594806,2.644861,1.786991,1.854876,2.824365,2.395032,2.791374,2.819371
2,2,hsa-let-7b-5p,ENST00000576537,1576707,1578261,17,-1,MIMAT0000063,let-7,12.820202,...,12.829037,12.382240,13.638682,14.190721,14.086433,13.729646,13.115391,13.531265,13.564590,14.094524
3,3,hsa-let-7b-3p,ENST00000576537,1578446,1578467,17,-1,MIMAT0004482,let-7,4.104356,...,4.210218,3.770706,4.646930,4.295710,5.294043,5.520265,4.097683,4.664511,4.351934,4.063494
4,4,hsa-let-7b-3p,ENST00000576537,1576625,1576643,17,-1,MIMAT0004482,let-7,4.104356,...,4.210218,3.770706,4.646930,4.295710,5.294043,5.520265,4.097683,4.664511,4.351934,4.063494

In [246]:
#TODO put in presentation, analysis mirna, how many in xena data
#TODO find out : if na should i use it as 0????
counts['TCGA-KN-8426-01'].isna().sum() #for caseid TCGA-KN-8426-01: 56035 bs are thrown away 
len(list(counts[counts['TCGA-KN-8426-01'].isna()].mature_acc.unique())) #we don't have the counts for 1948 mirnas in bs
len(list(counts[~ counts['TCGA-KN-8426-01'].isna()].mature_acc.unique())) #we have counts for 658 mirnas

len(list(mirna_counts['sample'].unique())) #1917 = absolute nr mirnas from TCGA-KN-8426-01
len(list(mirna_counts[~ mirna_counts['TCGA-KN-8426-01'].isna()]['sample'].unique())) #1236 = not na nr mirnas from TCGA-KN-8426-01

658

## Map exons to counts

In [12]:
#for a large data set, you will likely get a significant speed increase by creating an index for any column(s) used in the join condition. 
#https://stackoverflow.com/questions/30627968/merge-pandas-dataframes-where-one-value-is-between-two-others
#instead use SQL
conn = sqlite3.connect('db.db')#':memory:') #Make the database in memory
c = conn.cursor()

#write the tables
counts.to_sql('counts', conn, index=False, dtype={"bs_id": 'INTEGER'})
exon_counts.to_sql('exon_counts', conn, index=True, index_label='exon_id', dtype={caseid : 'INTEGER' for caseid in caseids}.update({"chromStart": 'INTEGER', "chromEnd": 'INTEGER'}))

In [258]:
#print sqlite3 table 
qry = '''
    select * from counts
    '''
c.execute(qry)
conn.commit()
c.fetchall()
pd.read_sql_query(qry,conn)

,bs_id,miRNA,mRNA,chrom_bs_start,chrom_bs_end,chromosome_name,strand,mature_acc,mirna_family,TCGA-KN-8426-01,...,TCGA-KO-8408-01,TCGA-KM-8438-01,TCGA-KL-8323-01,TCGA-KN-8429-11,TCGA-KO-8413-01,TCGA-KO-8411-01,TCGA-KL-8332-11,TCGA-KL-8335-01,TCGA-KL-8339-11,TCGA-KO-8415-01
0,0,hsa-let-7a-2-3p,ENST00000576537,1578440,1578466,17,-1,MIMAT0010195,let-7,2.893871,...,2.829471,2.015161,2.594806,2.644861,1.786991,1.854876,2.824365,2.395032,2.791374,2.819371
1,1,hsa-let-7a-2-3p,ENST00000576537,1578561,1578581,17,-1,MIMAT0010195,let-7,2.893871,...,2.829471,2.015161,2.594806,2.644861,1.786991,1.854876,2.824365,2.395032,2.791374,2.819371
2,2,hsa-let-7b-5p,ENST00000576537,1576707,1578261,17,-1,MIMAT0000063,let-7,12.820202,...,12.829037,12.382240,13.638682,14.190721,14.086433,13.729646,13.115391,13.531265,13.564590,14.094524
3,3,hsa-let-7b-3p,ENST00000576537,1578446,1578467,17,-1,MIMAT0004482,let-7,4.104356,...,4.210218,3.770706,4.646930,4.295710,5.294043,5.520265,4.097683,4.664511,4.351934,4.063494
4,4,hsa-let-7b-3p,ENST00000576537,1576625,1576643,17,-1,MIMAT0004482,let-7,4.104356,...,4.210218,3.770706,4.646930,4.295710,5.294043,5.520265,4.097683,4.664511,4.351934,4.063494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73188,73188,hsa-miR-12128,ENST00000216014,38479688,38479728,22,1,MIMAT0049022,hsa-miR-12128,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73189,73189,hsa-miR-12129,ENST00000216014,38481326,38481371,22,1,MIMAT0049023,hsa-miR-12129,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73190,73190,hsa-miR-12129,ENST00000216014,38479605,38479631,22,1,MIMAT0049023,hsa-miR-12129,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73191,73191,hsa-miR-12129,ENST00000216014,38479693,38479708,22,1,MIMAT0049023,hsa-miR-12129,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73192,73192,hsa-miR-12133,ENST00000216014,38482754,38482772,22,1,MIMAT0049027,hsa-miR-12133,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#DELETE table from sqlite3 DB
c.execute("DROP TABLE counts;")
conn.commit()
c.execute("DROP TABLE exon_counts;")
conn.commit()

In [181]:
counts[(counts.chrom_bs_start > 1578445) & (counts.chrom_bs_end < 1578634)]

,bs_id,miRNA,mRNA,chrom_bs_start,chrom_bs_end,chromosome_name,strand,mature_acc,mirna_family,TCGA-KN-8426-01,...,TCGA-KO-8408-01,TCGA-KM-8438-01,TCGA-KL-8323-01,TCGA-KN-8429-11,TCGA-KO-8413-01,TCGA-KO-8411-01,TCGA-KL-8332-11,TCGA-KL-8335-01,TCGA-KL-8339-11,TCGA-KO-8415-01
1,1,hsa-let-7a-2-3p,ENST00000576537,1578561,1578581,17,-1,MIMAT0010195,let-7,2.893871,...,2.829471,2.015161,2.594806,2.644861,1.786991,1.854876,2.824365,2.395032,2.791374,2.819371
3,3,hsa-let-7b-3p,ENST00000576537,1578446,1578467,17,-1,MIMAT0004482,let-7,4.104356,...,4.210218,3.770706,4.646930,4.295710,5.294043,5.520265,4.097683,4.664511,4.351934,4.063494
6,6,hsa-let-7c-3p,ENST00000576537,1578453,1578471,17,-1,MIMAT0026472,let-7,2.695914,...,2.714853,2.455017,2.155998,3.673442,2.676288,3.043974,4.407776,2.500585,3.844001,2.977714
9,9,hsa-let-7d-3p,ENST00000576537,1578446,1578473,17,-1,MIMAT0004484,let-7,7.990090,...,8.056507,8.939957,8.391837,7.818937,7.722212,8.106506,7.446075,8.217851,8.154153,8.335863
12,12,hsa-let-7e-3p,ENST00000576537,1578561,1578579,17,-1,MIMAT0004485,let-7,3.147645,...,2.523778,3.836892,2.846723,4.056371,2.882109,3.414638,3.685095,2.885547,3.698584,3.274872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,3384,hsa-miR-12124,ENST00000576537,1578599,1578616,17,-1,MIMAT0049018,hsa-miR-12124,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3385,3385,hsa-miR-12124,ENST00000576537,1578488,1578508,17,-1,MIMAT0049018,hsa-miR-12124,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3388,3388,hsa-miR-12126,ENST00000576537,1578447,1578480,17,-1,MIMAT0049020,hsa-miR-12126,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3390,3390,hsa-miR-12128,ENST00000576537,1578517,1578566,17,-1,MIMAT0049022,hsa-miR-12128,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3393,3393,hsa-miR-12129,ENST00000576537,1578564,1578616,17,-1,MIMAT0049023,hsa-miR-12129,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [325]:
exon_counts[(exon_counts.chromStart > 1578445) & (exon_counts.chromEnd < 1578634)]

,TCGA-KN-8419-01,TCGA-KL-8346-01,TCGA-KN-8422-01,TCGA-KN-8431-11,TCGA-KN-8430-11,TCGA-KM-8440-01,TCGA-KO-8414-01,TCGA-KL-8323-01,TCGA-KM-8639-01,TCGA-KO-8415-11,...,TCGA-KO-8408-01,TCGA-KM-8443-01,TCGA-KM-8442-01,TCGA-KL-8332-11,TCGA-KL-8327-01,gene,chrom,chromStart,chromEnd,strand
45710,4.922,2.6972,2.0686,4.7578,4.705,4.5074,3.3096,4.5863,4.6372,4.7683,...,2.5759,4.1899,4.4041,3.6642,1.3794,PRPF8,chr17,1578446,1578633,-1

In [ ]:
#TODO change column name case_id to column name case_id_mirna so it doesnt overlap with exon
#instead of joining like i do & repeating the exon info -> only add exon_id + pivot / addup per exon + add exon counts

In [ ]:
#TODO right now I hardcoded TCGA-KN-8419-01!!
#exon_counts.chrom, exon_counts.chromStart, exon_counts.chromEnd, exon_counts.strand, exon_counts.'TCGA-KN-8419-01', exon_counts.exon_id, counts.bs_id, counts.miRNA, counts.mRNA, counts.chrom_bs_start, counts.chrom_bs_end

qry = '''
    CREATE TABLE n_counts AS
    select
        *
    from
        counts inner join (
        select exon_counts.chrom, exon_counts.chromStart, exon_counts.chromEnd, exon_counts.strand, exon_counts.exon_id
        from exon_counts )
        on
        counts.chromosome_name = exon_counts.chrom and counts.strand = exon_counts.strand and counts.chrom_bs_start >= exon_counts.chromStart and counts.chrom_bs_end <= exon_counts.chromEnd
    '''
c.execute(qry)
conn.commit()
print('n_counts done.')
qry = '''
    select * from n_counts
    '''
c.execute(qry)
conn.commit()
c.fetchall()
#n_counts = pd.read_sql_query(qry,conn) #TODO somehow empty idk why

#todo google pandas 3D
#look at old code idk why

#only returns bs with minimum 1 exon_id cause inner join (else left join)
#automatically filters out all binding sites that have more than 1 exon_id
#if u dont want that use outer join -> actually wrong, it uses the first instead of leaving it out!

In [327]:
n_counts

,bs_id,miRNA,mRNA,chrom_bs_start,chrom_bs_end,chromosome_name,strand,mature_acc,mirna_family,TCGA-KN-8426-01,...,TCGA-KO-8408-01,TCGA-KM-8443-01,TCGA-KM-8442-01,TCGA-KL-8332-11,TCGA-KL-8327-01,gene,chrom,chromStart,chromEnd,strand
0,0,hsa-let-7a-2-3p,ENST00000576537,1578440,1578466,17,-1,MIMAT0010195,let-7,2.893871,...,None,None,None,None,None,None,None,None,None,None
1,1,hsa-let-7a-2-3p,ENST00000576537,1578561,1578581,17,-1,MIMAT0010195,let-7,2.893871,...,None,None,None,None,None,None,None,None,None,None
2,2,hsa-let-7b-5p,ENST00000576537,1576707,1578261,17,-1,MIMAT0000063,let-7,12.820202,...,None,None,None,None,None,None,None,None,None,None
3,3,hsa-let-7b-3p,ENST00000576537,1578446,1578467,17,-1,MIMAT0004482,let-7,4.104356,...,None,None,None,None,None,None,None,None,None,None
4,4,hsa-let-7b-3p,ENST00000576537,1576625,1576643,17,-1,MIMAT0004482,let-7,4.104356,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73188,73188,hsa-miR-12128,ENST00000216014,38479688,38479728,22,1,MIMAT0049022,hsa-miR-12128,NaN,...,None,None,None,None,None,None,None,None,None,None
73189,73189,hsa-miR-12129,ENST00000216014,38481326,38481371,22,1,MIMAT0049023,hsa-miR-12129,NaN,...,None,None,None,None,None,None,None,None,None,None
73190,73190,hsa-miR-12129,ENST00000216014,38479605,38479631,22,1,MIMAT0049023,hsa-miR-12129,NaN,...,None,None,None,None,None,None,None,None,None,None
73191,73191,hsa-miR-12129,ENST00000216014,38479693,38479708,22,1,MIMAT0049023,hsa-miR-12129,NaN,...,None,None,None,None,None,None,None,None,None,None
73192,73192,hsa-miR-12133,ENST00000216014,38482754,38482772,22,1,MIMAT0049027,hsa-miR-12133,NaN,...,None,None,None,None,None,None,None,None,None,None

In [293]:
#old
#TODO takes fuuuuuckin long, instead join on strand, chromosome_name, start, end
#merge bs with exon counts, real slow, TODO cython, 22.34 - lookup when
def is_in_exon(row, exon_counts):
    bs_start = row.chrom_bs_start
    bs_end = row.chrom_bs_end
    here = exon_counts.loc[(exon_counts.chrom == row.chromosome_name) & (exon_counts['strand'] == row.strand) & (exon_counts.chromStart == bs_start) & (exon_counts.chromEnd == bs_end)]
    #print(here)
    count_list = str(list(here['TCGA-KN-8419-01']))[1:-1]
    return count_list if not count_list == '' else None

#takes long! for 1 case id: 2 min 
#exon_counts = all_exon_dfs['aba26e6b-f11c-4ae6-a0d6-85bdd2060e8f'] #df#all_exon_dfs[case_id]
counts['exon'] = counts.apply(lambda row: is_in_exon(row,exon_counts), axis=1)
bs_exons = pd.DataFrame(counts.exons.str.split(',').tolist(),index=counts.bs_id)
bs_exons = bs_exons.rename(columns={0: "exon_raw_count"})
bs_exons.head()

KeyboardInterrupt:

In [158]:
#visualize amount exons by bindingsite | amount bindingsites by exon
import sqlite3
conn = sqlite3.connect(':memory:') #Make the database in memory

#write the tables
important_counts.to_sql('bs', conn, index=False, dtype={"bs_id": 'INTEGER'})
new_exon_counts.to_sql('counts', conn, index=True, index_label='exon_id', dtype={"exon_id": 'INTEGER'})
qry = '''
    select
        counts.chromosome_name, counts.chrom_exon_start, counts.chrom_exon_end, counts.strand, counts.raw_counts, counts.exon_id, bs.bs_id, bs.miRNA, bs.mRNA, bs.chrom_bs_start, bs.chrom_bs_end
    from
        bs left join counts on
        bs.chromosome_name = counts.chromosome_name and bs.strand = counts.strand and bs.chrom_bs_start >= counts.chrom_exon_start and bs.chrom_bs_end <= counts.chrom_exon_end
    '''
bs_exons2 = pd.read_sql_query(qry, conn)
bs_exons2.head()
#bs_exons2.groupby('bs_id').count().raw_counts.hist()
#bs_exons2.groupby('exon_id').count()

In [287]:
n_counts

Empty DataFrame
Columns: [chrom, chromStart, chromEnd, strand, TCGA-KN-8419-01, exon_id, bs_id, miRNA, mRNA, chrom_bs_start, chrom_bs_end]
Index: []

## Put all counts into one & pivot table

In [248]:
mirna_counts.head()

,sample,TCGA-KN-8426-01,TCGA-KN-8419-11,TCGA-KL-8332-01,TCGA-KN-8423-01,TCGA-KO-8405-01,TCGA-KL-8337-01,TCGA-KN-8424-11,TCGA-KN-8422-11,TCGA-KL-8334-01,...,TCGA-KO-8408-01,TCGA-KM-8438-01,TCGA-KL-8323-01,TCGA-KN-8429-11,TCGA-KO-8413-01,TCGA-KO-8411-01,TCGA-KL-8332-11,TCGA-KL-8335-01,TCGA-KL-8339-11,TCGA-KO-8415-01
0,MIMAT0019868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MIMAT0019869,NaN,0.1644,NaN,0.1544,NaN,NaN,NaN,0.301479,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MIMAT0019860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4087
3,MIMAT0019862,NaN,NaN,NaN,0.1544,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.2042,NaN,NaN,NaN
4,MIMAT0019864,NaN,0.1644,0.1774,NaN,NaN,0.1638,0.4246,NaN,0.2075,...,NaN,0.2143,NaN,NaN,NaN,NaN,NaN,0.1803,NaN,NaN

In [279]:
exon_counts.head()

,TCGA-KN-8419-01,TCGA-KL-8346-01,TCGA-KN-8422-01,TCGA-KN-8431-11,TCGA-KN-8430-11,TCGA-KM-8440-01,TCGA-KO-8414-01,TCGA-KL-8323-01,TCGA-KM-8639-01,TCGA-KO-8415-11,...,TCGA-KO-8408-01,TCGA-KM-8443-01,TCGA-KM-8442-01,TCGA-KL-8332-11,TCGA-KL-8327-01,gene,chrom,chromStart,chromEnd,strand
0,2.1156,1.7396,2.0641,3.1457,3.0436,2.2209,1.8213,1.9092,2.9139,3.1049,...,2.2369,2.4951,2.1010,3.0617,0.7424,"ABHD14B,RP11-155D18.14,RP11-155D18.12",chr3,52007981,52008646,-1
1,0.0000,0.0000,0.0000,0.0251,0.0233,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,USH2A,chr1,215901372,215901726,-1
2,2.5290,0.7196,1.3094,2.3074,1.6894,1.5829,1.0835,1.9041,1.2131,1.7214,...,0.6381,1.5227,1.7786,1.4157,0.0000,SLC10A7,chr4,147214081,147214132,-1
3,2.3839,3.8702,2.5373,2.3464,2.2976,3.0639,2.5666,2.7963,3.0875,2.0227,...,3.0412,3.5838,3.7551,1.4157,1.8708,TNK2,chr3,195599147,195599341,-1
4,1.9974,0.6984,0.9011,0.6827,1.2425,0.9715,1.6701,1.3011,1.3712,1.5433,...,1.1410,1.2345,1.7403,0.0000,0.0000,LRRC37B,chr17,30351730,30351801,1

In [ ]:
#TODO put all different caseids sqlite tables together into one
#INSERT INTO artists_backup 
#SELECT ArtistId, Name
#FROM artists;

In [ ]:
#output: for each case_id for each bs_id: interesting miRNA expression + exon expression
#unstack family counts from 2 columns to several columns (mirna_family=name,mirna_read_count=value)
pivoted = bs_mirnas.copy()
pivoted = pivoted.pivot_table(values='mirna_read_count', index=['exon_id', 'exon_raw_counts'], columns='mirna_family', aggfunc='sum', fill_value=0)
pivoted#.head()
#TODO debug does this do it right OR use sqllite3

In [ ]:
#TODO pivot in sqlite3 
#https://modern-sql.com/use-case/pivot
#https://stackoverflow.com/questions/1237068/how-to-pivot-in-sqlite-or-i-e-select-in-wide-format-a-table-stored-in-long-form

In [227]:
bs_mirnas[bs_mirnas.exon_id == 216595]

,exon_id,exon_raw_counts,miRNA,miRNA_ID,mirna_family,mirna_read_count
7,216595,0,hsa-let-7b-5p,hsa-let-7b,let-7,55647
14,216595,0,hsa-let-7d-5p,hsa-let-7d,let-7,3767
25,216595,0,hsa-let-7e-3p,hsa-let-7e,let-7,11424
33,216595,0,hsa-let-7e-3p,hsa-let-7e,let-7,11424
46,216595,0,hsa-miR-15a-3p,hsa-mir-15a,mir-15,2258
...,...,...,...,...,...,...
12562,216595,0,hsa-miR-5692a,hsa-mir-5692a-2,mir-5692,0
12563,216595,0,hsa-miR-548az-5p,hsa-mir-548az,mir-548,0
12566,216595,0,hsa-miR-8062,hsa-mir-8062,hsa-miR-8062,0
12571,216595,0,hsa-miR-8064,hsa-mir-8064,hsa-miR-8064,0
12578,216595,0,hsa-miR-1257,hsa-mir-1257,mir-1257,0

In [226]:
bs_mirnas[bs_mirnas.mirna_family =='hsa-miR-1229-5p']

# 1 right? count is added for exonid 216595, but do i already add it before ?
# 2 also : exon_id + mirna double (3368 & 3370) wrong!!

,exon_id,exon_raw_counts,miRNA,miRNA_ID,mirna_family,mirna_read_count
3365,216603,0,hsa-miR-1229-5p,hsa-mir-1229,hsa-miR-1229-5p,4
3368,216595,0,hsa-miR-1229-5p,hsa-mir-1229,hsa-miR-1229-5p,4
3370,216595,0,hsa-miR-1229-5p,hsa-mir-1229,hsa-miR-1229-5p,4
3371,216596,0,hsa-miR-1229-5p,hsa-mir-1229,hsa-miR-1229-5p,4

In [ ]:
#visualize amount exons by bindingsite
#bs_exons.groupby('bs_id').count().raw_counts.hist()

In [274]:
#TODO check - is nr mirna downloaded also here? if not: mistake
print(X.shape,y[0].shape)

(8, 1680) (8,)

# Elastic Net Regression

In [ ]:
import sys
sys.getsizeof(pivoted)#TODO

In [276]:
#regression btw miRNA expression, exon expression
import sklearn
from sklearn.linear_model import ElasticNet
from sklearn.datasets import make_regression
#faster if np.array(x, order='F')
#If you are interested in controlling the L1 and L2 penalty separately, keep in mind that this is equivalent to:
#a * L1 + b * L2 where: alpha = a + b and l1_ratio = a / (a + b)
X = np.array(pivoted)
y = np.array(pivoted.index.get_level_values('exon_raw_counts'))

regr = ElasticNet(random_state=0)
regr.fit(X, y)
print(regr.coef_)
print(regr.intercept_)

[0. 0. 0. ... 0. 0. 0.]
0.0

C:\Users\Lena\Miniconda3\envs\thesis\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.0, tolerance: 0.0
  model = cd_fast.enet_coordinate_descent(